{{#if products}}
<table class="table table-dark table-striped table-bordered">
  <thead class="text-center">
    <th>Nombre</th>
    <th>Precio</th>
    <th>Imagen</th>
  </thead>
  <tbody>
    {{#each products}}
    <tr class="text-center">
      <td>{{ this.nombre }}</td>
      <td>{{ this.precio }}</td>
      <td><img src={{ this.foto }} alt={{ this.nombre }} width="30" height="24"></td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
<h3 class="text-center">No se han registrado productos</h3>
{{/if}}